.vscode/
#serverFolder
server/.env
server/node_modules/
server/.gitignore
#clientFolder
client/.next
client/node_modules/
client/.env.local
client/.gitignore
client/babel.config.js
client/next.config.js